#titulo_enlaces{
    background-color: lightcoral;
    color: black;
    text-align: center;
    font-size: 32pt;
    width: 156px;
}

.fondo_azul{
    background-color: lightskyblue;
    color: darkblue;
    font-size: 48pt;
    text-align: right;
}

h2{
    color: rgba(48, 197, 177, 0.822);
    font-size: 50pt;
}

h2{
    font-size: 16pt;
}

a:visited{
    background-color: blueviolet;
    color: yellowgreen;
}

a:link{
    color: red;
    font-size: 16pt;
}

a{
    color: black;
}

a:focus{
    color: red;
}

#desordenadas li{
    background-color:crimson;
    margin-bottom: 8px;
}

th:active{
    background-color: darkcyan;
}